* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
}

header h1 {
    text-align: center;
    margin-top: 10px;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(1, 900px);
    gap: 60px;
}

.container {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    max-height: 600px;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

div label {
    margin-bottom: 6px;
    font-size: 15px;
    color: #333;
    font-weight: 600;
}

.group input,
.group select {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    font-size: 15px;
    background: #fafafa;
}

form button {
    display: block;

}

.btnAjout {
    border-radius: 10px;
    height: 35px;
    width: 200px;
    margin-left: 10px;
    background-color: orangered;
    color: white;
}

.submit {
    border-radius: 10px;
    height: 35px;
    width: 250px;
    background-color: rgb(35, 142, 53);
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    margin: auto;
}

.Expperecedent {
    flex: 1;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.Expperecedent input {
    padding: 10px 12px;
    border-radius: 8px;
    margin-top: 1;
    border: 1px solid #cfcfcf;
    font-size: 15px;
    background: #fafafa;
}

.btnSupprimer {
    border-radius: 10px;
    height: 35px;
    width: 150px;
    margin-left: 10px;
    background-color: orangered;
    color: white;
}

.side1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px; 
   
}

.modalOverlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.modalBox {
    background: #ffffff;
    padding: 25px 30px;
    width: 600px;
    max-height: 90vh;
    border-radius: 12px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.25);
    animation: fade 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 40px;
    width: 20px;
    height: 10px;
}

.expContainer {
    margin-top: 20px;
    padding: 10px;
    border-left: 3px solid #4A90E2;
    border-radius: 6px;
    background-color: #f3f6fa;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addemployer {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(33, 172, 103);
    color: white;
    text-align: center;
    font-size: larger;
    margin-left: 10px;
}

.side2 {
    position: relative;

}

.ZonCont {
    background-image: url("img/plan.jpg");
    background-repeat: no-repeat;

    background-size: 100% 100%;


    position: absolute;

    display: grid;
    grid-template-columns: repeat(20, auto);
    grid-template-rows: repeat(12, auto);
    width: 80%;
    height: 90%;
}

.z-Conference {
    background-color: rgba(19, 17, 17, 0.4);
    grid-row: 1/5;
    grid-column: 1/8;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px white solid;
     position: relative;
}

.z-Réception {
    background-color: rgba(19, 17, 17, 0.4);
    grid-row: 6/16;
    grid-column: 1/8;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    position: relative;
}

.z-serveurs {
    grid-row: 11/16;
    grid-column: 18/21;
    background-color: rgba(19, 17, 17, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    position: relative;
}

.z-personnel {
    grid-row: 11/16;
    grid-column: 14/17;
    border: 2px white solid;
    background-color: rgba(19, 17, 17, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.z-archives {
    grid-row: 1/6;
    grid-column: 14/17;
    border: 2px white solid;
    background-color: rgba(19, 17, 17, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.z-securite {
    grid-row: 1/6;
    grid-column: 18/21;
    background-color: rgba(19, 17, 17, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px white solid;
    position: relative;
}



.plus {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0px;
    background-color: black;
}

/* .plusA{
    color:white;
    font-size: 20px;
    position:absolute;
    top:0px;
    background-color: black;
}
.plusC{
    color:white;
    font-size: 20px;
    position:absolute;
    top:0px;
    background-color: black;
}
.plusSer{
    color:white;
    font-size: 20px;
    position:absolute;
    top:0px;
    background-color: black;
}
.plusSec{
    color:white;
    font-size: 20px;
    position:absolute;
    top:0px;
    background-color: black;
}
.plusP{
    color:white;
    font-size: 20px;
    position:absolute;
    top:0px;
    background-color: black;
}
.plusR{
    color:white;
    font-size: 20px;
    position:absolute;
    top:0px;
    background-color: black;
}  */

.listEmployee {
    width: 100%;
    margin-left: 10px;
}

.listEmployee h2 {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.InfoEmp {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
}

.employe-card {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 15px;
    background-color: rgb(90, 90, 180);
    color: white;
    padding: 10px;
}

.imgprofile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: red;
}

.previewImg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 10px;
    object-fit: cover;
    display: none;
    border: 1px solid #ccc;
}

.rolename h4 {
    font-size: 18px;
}

.rolename h5 {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}


.ListZEmp {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    
    background: #ffffff;
    padding: 20px;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;

    border-radius: 12px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.25);

    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 999;   /* مهم */
}





.employe-card2{
    display: grid;
    grid-template-columns: 30% 1fr;
    align-items: center;
    gap: 15px;
    background-color: rgb(90, 90, 180);
    color: white;
    padding: 10px;
   ;


}
.imgprofile2{
     height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: red;
}
.rolename2 h4 {
    font-size: 12px;
}

.rolename2 h5 {
    margin: 0;
    font-size: 12px;
    color: #ccc;
}



@media (max-width: 1024px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 10px;
    }

    .ZonCont {
        width: 100%;
        max-width: 700px;
        height: auto;
        aspect-ratio: 7/6.5;
        margin-right: 0;
        position: relative;
    }

    .listEmployee,
    .listEmployee h2 {
        width: 100%;
        margin-left: 0;
    }

    .addemployer {
        width: 100%;

        margin-left: 0;
    }
}


@media (max-width: 768px) {
    header {
        height: 80px;
    }

    header h1 {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 10px;
    }

    .container {
        max-height: none;
        padding-right: 5px;
    }

    .group {
        margin-bottom: 12px;
    }

    .group input,
    .group select {
        padding: 8px 10px;
        font-size: 14px;
    }


    .btnAjout {
        width: 100%;
        max-width: 200px;
        margin-left: 0;
        margin-top: 10px;
    }

    .submit {
        width: 100%;
        max-width: 250px;
        margin-left: 0;
        margin-top: 10px;
    }

    .btnSupprimer {
        width: 90px;
        height: 25px;
        font-size: 12px;
    }

    .addemployer {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }


    .modalBox {
        width: 90%;
        max-width: 500px;
        padding: 20px 15px;
        max-height: 85vh;
        overflow-y: auto;
    }

    .closeModal {
        font-size: 30px;
        right: 10px;
        top: 5px;
    }

    .experience {
        max-height: 150px;
        padding: 8px;
    }

    .Expperecedent input {
        padding: 8px 10px;
        font-size: 14px;
    }

    .side2 {
        position: relative;
        grid-column: 2/4;
    }

    .ZonCont {
        width: 100%;
        height: 380px;
        background-size: cover;
        margin-right: 0;
        position: absolute;
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: repeat(20, auto);
        grid-template-rows: repeat(12, auto);
        width: 700px;
        height: 650px;


    }

    .plus {
        font-size: 30px;
    }

    /* Liste employés */
    .listEmployee,
    .listEmployee h2 {
        width: 100%;
        margin-left: 0;
    }

    .InfoEmp {
        max-height: 300px;
        gap: 10px;
    }

    .employe-card {
        grid-template-columns: 50px 1fr;
        gap: 10px;
        padding: 8px;

    }

    .imgprofile {
        height: 50px;
        width: 50px;
    }

    .rolename h4 {
        font-size: 16px;
    }

    .rolename h5 {
        font-size: 12px;
    }

    .previewImg {
        width: 80px;
        height: 80px;
        margin-left: 0;
    }
}


@media (max-width: 480px) {
    main {
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        padding: 10px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .group input,
    .group select {
        padding: 6px 8px;
        font-size: 13px;
    }

    .modalBox {
        width: 95%;
        padding: 15px 10px;
    }



    .plus {
        font-size: 24px;
    }



    .imgprofile {
        height: 40px;
        width: 40px;
    }

    .rolename h4 {
        font-size: 14px;
    }

    .rolename h5 {
        font-size: 11px;
    }

    .ZonCont {
        width: 100%;
        height: 380px;
        background-size: cover;
        margin-right: 0;
        position: absolute;
        background-size: 100% 100%;
        display: grid;
        grid-template-columns: repeat(20, auto);
        grid-template-rows: repeat(12, auto);



    }

    .employe-card {
        display: grid;
        width: 100%;
        grid-template-columns: 60px 1fr;
        align-items: center;
        gap: 15px;
        background-color: rgb(90, 90, 180);
        color: white;
        padding: 10px;
    }


    .listEmployee {
        width: 100%px;
        margin-left: 10px;
    }


    .z-Conference {
        background-color: rgba(19, 17, 17, 0.4);
        grid-row: 1/5;
        grid-column: 1/8;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 2px white solid;
    }

    .z-Réception {
        background-color: rgba(19, 17, 17, 0.4);
        grid-row: 6/16;
        grid-column: 1/8;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 2px white solid;
    }

    .z-serveurs {
        grid-row: 11/16;
        grid-column: 19/21;
        background-color: rgba(19, 17, 17, 0.4);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 2px white solid;
    }

    .z-personnel {
        grid-row: 11/16;
        grid-column: 16/18;
        border: 2px white solid;
        background-color: rgba(19, 17, 17, 0.4);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .z-archives {
        grid-row: 1/6;
        grid-column: 16/18;
        border: 2px white solid;
        background-color: rgba(19, 17, 17, 0.4);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .z-securite {
        grid-row: 1/6;
        grid-column: 19/21;
        background-color: rgba(19, 17, 17, 0.4);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border: 2px white solid;
    }

    .addemployer {
        width: 100%;
        height: 25px;
        border-radius: 10px;
        background-color: rgb(33, 172, 103);
        color: white;
        text-align: center;
        font-size: 10px;
        margin-left: 10px;
    }


}